<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- 
      init() ==> 환경 설정 == web.xml에 있는 데이터 읽기  
      service() ==> 클라이언트 요청시마다 처리 
      destroy() ==> 새로고침 , 화면 이동 = 자동으로 메모리에서 해제 
      
      public class DisatcherServlet extends HttpServlet
      {
          private WebApplicationContext wc;
          public void init(ServletConfig config)
          {
               String path=init.getInitParameter("contextConfigLocation");
               if(path==null)
                 path="/WEB-INF/<servlet-name>-servlet.xml" => appServlet-servlet.xml
               wc=new WebApplicationContext(path) => XML파싱 
                  Map에 등록된 클래스를 저장한다 
               
          }
      }
     -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/application-*.xml</param-value>
		</init-param> -->
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- 
	     @WebServlet("*.do")
	 -->
	<!-- 
	    request/response 미사용 = 한글 변환 
	 -->
	 <!-- 
	    request.setCharacterEncoding("UTF-8")을 대신하는 코드  
	  -->
     <filter>
		  <filter-name>encodingFilter</filter-name>
		  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		  <init-param>
		    <param-name>encoding</param-name>
		    <param-value>UTF-8</param-value>
		  </init-param>
     </filter>
		
     <filter-mapping>
		  <filter-name>encodingFilter</filter-name>
		  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>
