<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <div class="container-fluid">
     <div class="row">
      <div class="col-md-3" th:each="vo:${list}">
	    <div class="thumbnail">
	      <a href="#">
	        <img th:src="${vo.poster}" alt="Lights" style="width:450px;height:250px">
	        <div class="caption">
	          <p th:text="${vo.title}"></p>
	        </div>
	      </a>
        </div>
      </div>
     <div style="height: 20px"></div>
     <div class="row">
       <div class="text-center">
         <ul class="pagination">
			  <li><a href="#">&lt;</a></li>
			  <li th:class="${curpage==i}?'active':''" th:each="i:${#numbers.sequence(startPage,endPage)}">
			  <a th:href="@{/seoul/location(page=${i})}" th:text="${i}"></a></li>
			  <li><a href="#">&gt;</a></li>
			</ul>
       </div>
     </div>
</body>
</html>