<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#myCarousel{
  margin: 0px auto;
}
</style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>
		
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/1.jpg" alt="Los Angeles" style="width: 100%;height: 450px;">
		    </div>
		
		    <div class="item">
		      <img src="images/2.jpg" alt="Chicago" style="width: 100%;height: 450px;">
		    </div>
		
		    <div class="item">
		      <img src="images/3.jpg" alt="New York" style="width: 100%;height: 450px;">
		    </div>
		  </div>
		
		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
     </div>
     <div style="height: 20px"></div>
     <div class="row">
       <div class="text-center">
         <a href="/main?cate=1" class="btn btn-lg btn-success">믿고 보는 맛집 리스트</a>
         <a href="/main?cate=2" class="btn btn-lg btn-info">지역별 인기 맛집 리스트</a>
         <a href="/main?cate=3" class="btn btn-lg btn-warning">메뉴별 인기 맛집 리스트</a>
       </div>
     </div>
     <div style="height: 20px"></div>
     <div class="row">
       <div class="col-md-4" th:each="vo:${list}">
	    <div class="thumbnail">
	      <a th:href="@{/food/category_list(cno=${cno})}">
	        <img th:src="${vo.poster}" alt="Lights" style="width:100%">
	        <div class="caption">
	          <p th:text="${vo.title}"></p>
	        </div>
	      </a>
    </div>
  </div>
     </div>
  </div>
</body>
</html>